{% extends "base.html" %}

{% block content %}
  <h1>Artists:</h1>
  {% if artist_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>City</th>
      </tr>
      {% for artist in artist_list %}
        <tr>
          <td>{{ artist.id }}</td>
          <td><a href="{% url 'gallery:artist-detail' artist.id %}">{{ artist.username }}</a></td>
          <td>{{ artist.first_name }}</td>
          <td>{{ artist.last_name }}</td>
          <td>{{ artist.city }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no artists in the gallery.</p>
  {% endif %}
{% endblock %}