{% extends "base.html" %}

{% block content %}
  <h1>Styles:
    <a class="float-right btn btn-primary" href="{% url 'gallery:style-create' %}">Add style</a>
  </h1>
  {% if style_list %}
  {% include "includes/search_form.html" %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Style</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for style in style_list %}
        <tr>
          <td>
            {{ style.id }}
          </td>
          <td>
            {{ style }}
          </td>
          <td>
            <a href="{% url 'gallery:style-update' style.id %}">Update</a>
          </td>
          <td>
            <a style="color: red" href="{% url 'gallery:style-delete' style.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no style in the gallery.</p>
  {% endif %}
{% endblock %}